<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/bcd4b0f4a4.js"
      crossorigin="anonymous"
    ></script>

    <title>user 1</title>
  </head>
  <body>
    <h1>Here's a list of Users</h1>
      <h2>User 1</h2>
      <h2>User 2</h2>
      <h2>User 3</h2>
      <h2>User 4</h2>

  </body>
</html>

