<h1 class = "pb-5 text-2xl">BLOG APP</h1>

<% if @users.blank? %>
  <p>There are no users in the system</p>
  <% else %>
    <% @users.each do |user| %>
      <div>
          <%= link_to user_path(user.id) do %>
              <div class = "flex gap-x-2.5">
                <img src ="<%= user.photo %>" alt="user_photo" width="50" height="50">
                <h2 class = "text-xl"> <%= user.name%></h2>
              </div>
          <% end %>
          <p class = "text-sm pb-10">Number of posts: <%= user.posts_counter%></p>
        </div>
    <% end %>
<% end %>

  
  
 

