<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/bcd4b0f4a4.js"
      crossorigin="anonymous"
    ></script>

    <title>user 1</title>
  </head>
  <body>
    <h1>User 1</h1>
      <h2>Bio</h2>
        <p>lorem ipjcsjffhfbhnsjjshj</p>
    <h3>Post 1</h3>
    <h3>Post 2</h3>
    <h3>Post 3</h3>
     <h3>Post 4</h3>



  </body>
</html>

