   
    <%= form_with url: comments_path(@post) do |form| %>
    <div>
      <%= form.text_area :text %>
      </div> 
    <button class = "border border-black rounded px-0.5 py-0.5 "><%= form.submit "Submit" %></button>
    <% end %>
